//
// The image carousel
//

.img__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  z-index: 1;
}

.img__bg,
.img__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.img__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img__close {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.img__bg {
  background: $black;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.img__container--open .img__bg {
  opacity: 0.9;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

//
// The image thumbnails
//

// Make it so that images are square and do not cause a content shift
.thumbnail__container {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

.thumbnail__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
