//
// The image gallery
//

.gallery__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  z-index: 1;
}

.gallery__bg,
.gallery__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.gallery__close {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.gallery__bg {
  background: $black;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.47, 0, 0.74, 0.71);

  .gallery__container--open & {
    opacity: 0.9;
  }
}

.gallery__caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
}

//
// The image thumbnails
//

// Make it so that images are square and do not cause a content shift
.thumbnail__container {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

.thumbnail__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
